@model IEnumerable<DoroboShop.Models.ProductViewModel>

@foreach (var item in Model)
{
    <div class="block-product">
        <img src="@item.Photo" class="product-image" />
        <h3 class="data-of-product">@item.Name</h3>
        <h3 class="data-of-product">@item.Color</h3>
        <label class="price-of-product">@item.Price &#8364;</label>
    </div>
}
