@model DoroboShop.Models.GroupViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        @Html.Partial("_CategoriesView", Model.Categories)
       
        @Html.Partial("_ProductsView", Model.Products)
    </div>
</div>
