@model DoroboShop.Models.GroupViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        @Html.Partial("_CategoriesView", Model.Categories)
        <script async type="text/javascript" src="https://userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/20adb4e3e324df794d9523c7feaa306a9e7673b4aa8f54e579fa6a3d4f23019f.js"></script>
        @Html.Partial("_ProductsView", Model.Products)
    </div>
</div>
